@use '../base';
@use '../components/button.scss';

.cart {
    background-color: white;
    top: 0;
    right: -100%;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    width: min(100%, 34rem);
    padding: 2rem;
    box-shadow: 0 0 10px gray;
    transition: right 0.3s ease-in-out;

    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__button-close {
        height: 3rem;
        aspect-ratio: 1/1;
        font-size: 2em;
        background-color: transparent;
        border: none;
        border-radius: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    &__body {
        overflow-y: scroll;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    &__item-img {
        background: #96979B;
        background: linear-gradient(180deg, rgba(150, 151, 155, 1) 0%, rgba(156, 157, 161, 1) 40%, rgba(161, 163, 167, 1) 60%, rgba(172, 173, 182, 1) 100%);
        height: 5.8rem;
        aspect-ratio: 1/1;
        object-fit: contain;
        object-position: center;
    }

    &__item-product-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.5rem;
        flex: 1;

        &>* {
            text-align: start;
            width: 100%;
        }
    }

    &__item-title {
        font-weight: bold;
        font-size: 1em;
    }

    &__item-quantify {
        color: rgb(53, 53, 53);
        font-size: 1em;

        &::after {
            content: ' unidades';
        }
    }

    &__item-button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }

    &__item-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: lightgray;
        color: 2x solid gray;
        height: 2.5rem;
        aspect-ratio: 1/1;
        border-radius: 0.5rem;

        &:hover{
            background-color: gray;
            i{
                color: white;
            }
        }
    }

    &__foot {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__subtotal {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>* {
            display: inline-block;
            font-size: 1.3em;
        }
    }

    &__subtotal-label {
        font-weight: bold;
    }

    &__subtotal-price {
        font-weight: 500;

        &::before {
            content: 'S/ ';
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    & .button--cart-foot {
        flex-grow: 1;
    }

    &--visible {
        right: 0;
    }
}

.mdlcart {
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: min(100%, 26rem);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:popover-open {
        display: flex;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.3rem;
        text-align: center;
        margin: 0 auto;
    }

    th,
    td {
        width: 50%;
        text-align: center;
    }

    th {
        background-color: black;
        color: white;
        padding: 0.5rem 0;
    }

    td {
        background-color: lightgray;
        padding: 0.2rem 0;
    }

    &__talla {
        display: block;
        font-weight: bold;
    }

    table,
    &__field {
        width: min(100%, 15rem);
    }

    &__title {
        display: block;
        color: black;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }

    &__button-quantify-group {
        border: 2px solid gray;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &>* {
            background-color: white;
            text-align: center;
            border: none;
            height: 2rem;
            aspect-ratio: 1/1;
        }
    }

    &__input {
        width: 4rem;
    }

    &__button-quantify {
        color: rgb(66, 66, 66);
        font-size: 1.2em;

        &:hover {
            background-color: rgb(221, 221, 221);
        }
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    &__label {
        font-weight: bold;
    }

    &__subtotal {
        font-weight: 500;

        &::before {
            content: 'S/ ';
        }
    }

    &__button-action-group {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;
    }

    .button--modalCarrito {
        flex: 1;
        padding: 0.7rem 1rem;
    }
}