@use '../components/button.scss';

/* Página de Contacto */
.contacto {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    padding: 2rem;
}
  
.contacto__hero {
    position: relative;
    margin-bottom: 2rem;
}
  
.contacto__hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
  
.contacto__container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
  
.contacto__info {
    flex: 1;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.contacto__subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
  
.contacto__text {
    font-size: 1.1rem;
    color: #333;
}
  
.contacto__details {
    margin-top: 2rem;
}
  
.contacto__details-item {
    margin-bottom: 1.5rem;
}
  
.contacto__details-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
  
.contacto__details-text {
    font-size: 1rem;
    color: #555;
}
  
.contacto__formulario {
    flex: 2;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.contacto__form-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
  
.form__field {
    margin-bottom: 1.5rem;
}
  
.form__label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}
  
.form__input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}
  
.form__input:focus {
    border-color: #022b3a;
}
  
.form__textarea {
    height: 150px;
    resize: vertical;
}
  
.button {
    width: 100%;
}
  
.contacto__mapa {
    margin-top: 3rem;
    text-align: center;
}
  
.contacto__mapa-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.contacto__mapa-container {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .contacto__container {
        flex-direction: column;
    }
  
    .contacto__info, .contacto__formulario {
        margin-bottom: 2rem;
    }
}