.slider {
    position: relative;
    height: auto;
    width: auto;
}

.slider__track {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
}

.slider__item {
    height: 90vh;
    width: 100%;
    position: relative;
    animation: slider 20s ease infinite;
}

.slider__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(30%);
}

.slider__text {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 60%;
    transform: translate(-15%, -60%);
    color: white;
}

.slider__title {
    font-size: 5em;
    font-weight: 700;
}

.slider__paragraph {
    margin-top: 1rem;
    font-size: 1.2em;
    font-weight: 300;
}

.separator {
    position: relative;
    height: 0.2rem;
    width: 100%;
    background-color: black;
    margin: 2rem 0;
}

.separator__text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 0 1rem;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

.section-home {
    margin-inline: calc(0.5rem + 5vw);
    margin-top: 5rem;
    margin-bottom: 7rem;

    &.section-home--intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
    }

    & .section-home__title {
        color: black;
        margin-bottom: 2rem;
    }

    .section-home__content {
        flex: 1 0 min(100%, 30rem);

        & .section-home__content-title {
            color: black;
            margin-bottom: 2rem;
        }

        & .section-home__content-text {
            text-align: justify;
        }
    }

    & .section-home__img {
        object-fit: cover;
        object-position: center;
        height: 18rem;
        width: 100%;
        flex: 1;
        aspect-ratio: 4/3;
    }

    & .section-home__gallery {
        width: 100%;
    }

    & .section-home__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.5rem;
        width: 100%;
    }

    & .section-home__image {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 1rem;

        & .section-home__image-title {
            color: black;
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }

        & .section-home__image-img {
            height: 100%;
            object-fit: cover;
            object-position: center;

            &.section-home__image-img--company {
                height: 10rem;
                object-fit: contain;
                aspect-ratio: 1/1;
            }

            &.section-home__image-img--category {
                height: 22rem;
                aspect-ratio: 2/3;
                transition: transform 0.3s ease, filter 0.3s ease;

                &+.section-home__image-title {
                    background-color: black;
                    color: white;
                    padding: 1rem;
                    margin-top: 0;
                    z-index: 1;
                }

                &:hover {
                    transform: scale(1.3);
                    filter: opacity(80%);
                }
            }
        }
    }
}

@keyframes slider {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-200%);
    }
}