@use '../components/button.scss';

.prod-view {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 0 2rem;
    background-color: white;
    width: calc(100% - 1rem);
    margin: 0 auto;
    padding: 1rem 5rem;

    & .prod-view__thumbs {
        display: inline-block;
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        & .prod-view__img {
            background: #96979B;
            background: linear-gradient(180deg, rgba(150, 151, 155, 1) 0%, rgba(156, 157, 161, 1) 40%, rgba(161, 163, 167, 1) 60%, rgba(172, 173, 182, 1) 100%);
            width: 6rem;
            object-fit: contain;
            aspect-ratio: 1/1;
            border: 0.2rem solid transparent;
            cursor: pointer;

            &.prod-view__img--active {
                border-color: black;
            }
        }
    }

    & .prod-view__nav-img {
        background: #96979B;
        background: linear-gradient(180deg, rgba(150, 151, 155, 1) 0%, rgba(156, 157, 161, 1) 40%, rgba(161, 163, 167, 1) 60%, rgba(172, 173, 182, 1) 100%);
        flex: 0 1 40rem;
        width: min(100%, 40rem);
        order: 2;
        position: relative;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        & .prod__view__span {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(190, 190, 190);
            color: rgb(30, 30, 30);
            font-weight: 600;
            text-align: center;
            width: 100%;
            padding: 0.25rem 0;
            font-size: 1.2em;
        }

        & .prod-view__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
            aspect-ratio: 1/1;
            flex: 0 0 100%;
            transition: transform 0.3s ease;
            padding: 2rem 0 0 0;
        }

        & .prod-view__btn-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background-color: white;
            opacity: 0.5;
            transition: opacity 0.3s ease;
            height: 5rem;
            width: 3rem;

            &:hover {
                opacity: 1;
            }

            &.prod-view__btn-nav--left {
                left: 2%;
                transform: translateX(5%);
            }

            &.prod-view__btn-nav--right {
                right: 2%;
                transform: translateX(-5%);
            }
        }
    }

    & .prod-view__info {
        width: min(100%, 30rem);
        order: 3;

        &>* {
            display: block;
        }

        & .prod-view__category {
            color: rgb(114, 114, 114);
            font-size: 0.95em;
            font-weight: 500;
            margin-bottom: 0.3rem;
        }

        & .prod-view__title {
            color: black;
            font-size: 1.4em;
            font-weight: 900;
            text-transform: capitalize;
            margin-bottom: 1.5rem;
        }

        & .prod-view__list-sizes {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.7rem;
            border-top: 1px solid rgb(146, 146, 146);
            padding-top: 0.8rem;
            margin-bottom: 2rem;
        }

        & .prod-view__size {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
            border-radius: 100%;
            height: 2.3rem;
            aspect-ratio: 1/1;
            font-size: 0.88em;
            font-weight: 400;
        }

        & .prod-view__descrip {
            color: black;
            font-size: 0.9em;
            font-weight: 400;
            text-align: justify;
        }

        & .prod-view__fabric{
            text-transform: capitalize;
        }

        & .prod-view__button-group{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 3rem 0;
        }
    }
}

@media (max-width : 1080px) {
    .prod-view {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-inline: 0.5rem;

        & .prod-view__nav-img {
            order: 1;
        }

        & .prod-view__thumbs {
            width: 100%;
            order: 2;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        & .prod-view__title {
            margin-top: 1.5rem;
        }

        & .prod-view__info {
            width: 100%;
            order: 3;
        }

        & .prod-view__list-sizes{
            flex-wrap: wrap;
        }
    }

}