* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
}

li{
    list-style: none;
}

main{
    width: 100%;
    padding: 1rem;
}

button, p, a, div, strong, label, input, table, select{
    font-size: 1em;
}

button{
    cursor: pointer;
}