$color-primario: #FFF500;
$color-secundario: #1F1A17;
$color-terciario: #5d737e;
$color-base: #fcfcfc;
$color-complementario: #000000;

$color-primario-contraste: #1F1A17;
$color-secundario-contraste: #ffffff;
$color-terciario-contraste: #1F1A17;
$color-base-contraste: #1F1A17;
$color-complementario-contraste: #ffffff;