$color-primario: blue;
$color-secundario: red;
$color-terciario: yellow;
$color-complementario: white;
$color-base: black;

$color-primario-contraste: white;
$color-secundario-contraste: white;
$color-terciario-contraste: black;
$color-complementario-contraste: black;
$color-base-contraste: white;