$color-primario: #fffb56;
$color-secundario: #191512;
$color-terciario: #e0e0e5;
$color-base: #f1f1f3;
$color-complementario: #191512;

$color-primario-contraste: #191512;
$color-secundario-contraste: #ffffff;
$color-terciario-contraste: #191512;
$color-base-contraste: #191512;
$color-complementario-contraste: #ffffff;