.bg-primario {
    background-color: var(--color_primario);
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1cqmax;
}

.bg-secundario {
    background-color: var(--color_secundario);
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
}

.bg-terciario {
    background-color: var(--color_terciario);
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--color_primario);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1.5rem;

}