@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  width: 100%;
  padding: 1rem;
}

button, p, a, div, strong, label, input, table, select {
  font-size: 1em;
}

button {
  cursor: pointer;
}

.header {
  background-color: white;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;
}
.header .header__nav {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 0.3rem;
}
.header .header__link {
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: white;
}
.header .header__link:hover {
  background-color: white;
  color: black;
}
.header .header__bar {
  background-color: #FFF500;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.3rem 0.8rem;
  gap: 1rem;
}
.header .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header .header__company-logo {
  height: 3.3rem;
}
.header .header__company-name {
  font-size: 1.3em;
  font-weight: 500;
  color: #1F1A17;
}
.header .header__input-search {
  flex-grow: 0.5;
  flex-shrink: 1;
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}
.header .header__input-search:placeholder-shown {
  background-image: url("/static/img/icon_search_input.svg");
  background-position: 10px center;
  background-size: 1.8rem;
  background-repeat: no-repeat;
  padding-left: 2.8rem;
}
.header .header__button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
}
.header .header__button {
  background-color: transparent;
  color: #1F1A17;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: none;
}
.header .header__button .header__button-menu {
  background-color: #FFF500;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: 120%;
  left: 0;
}
.header .header__button .header__button-menu.header__button-menu--visible {
  display: flex;
}
.header .header__button .header__button-menu .header__button-menu-link {
  display: flex;
  padding: 0.5rem 1.5rem;
  color: #1F1A17;
}
.header .header__button .header__button-menu .header__button-menu-link:hover {
  background-color: rgb(182, 182, 182);
}
.header .header__button-img {
  height: 2.3rem;
}

.admin-header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.3rem 1rem;
  gap: 0.5rem;
  grid-area: admin-header;
}
.admin-header .admin-header__button {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.admin-header .admin-header__button:hover {
  background-color: rgb(170, 170, 170);
}
.admin-header .admin-header__button.admin-header__button--collapse {
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  aspect-ratio: 1/1;
}
.admin-header .admin-header__button.admin-header__button--collapse .admin-header__img-collapse {
  height: 100%;
  width: 100%;
  padding: 0.3rem;
}
.admin-header .admin-header__button.admin-header__button--user {
  position: relative;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 1rem;
}
.admin-header .admin-header__button.admin-header__button--user .admin-header__user-img {
  height: 3.5rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
}
.admin-header .admin-header__button.admin-header__button--user .admin-header__user-info .admin-header__user-name {
  color: black;
}
.admin-header .admin-header__button.admin-header__button--user .admin-header__user-info .admin-header__user-job {
  font-weight: 500;
  color: rgb(66, 66, 66);
}
.admin-header .admin-header__user-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column;
  top: 115%;
  transform: translate(20%);
}
.admin-header .admin-header__user-menu.admin-header__user-menu--active {
  display: flex;
}
.admin-header .admin-header__user-menu .admin-header__user-item .admin-header__user-link {
  display: block;
  padding: 1rem;
  color: black;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.admin-header .admin-header__user-menu .admin-header__user-item .admin-header__user-link:hover {
  background-color: rgb(170, 170, 170);
}

.admin-nav {
  background-color: white;
  transition: width 0.5s ease-out;
  padding: 0.1rem 0.8rem 1rem 0.8rem;
  height: 100%;
  width: 4.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  grid-area: admin-nav;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin-nav::-webkit-scrollbar {
  display: none;
}
.admin-nav .admin-nav__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem 0;
  gap: 1rem;
}
.admin-nav .admin-nav__logo .admin-nav__logo-img {
  height: 3.5rem;
  object-fit: cover;
  object-position: center;
}
.admin-nav .admin-nav__logo .admin-nav__logo-name {
  opacity: 0;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  transition: opacity 0.3s ease-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-nav .admin-nav__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.admin-nav .admin-nav__list .admin-nav__item {
  width: 100%;
  display: flex;
  align-items: center;
}
.admin-nav .admin-nav__list .admin-nav__item .admin-nav__list-title {
  opacity: 0;
  display: block;
  padding: 0.4rem 0;
  color: rgb(66, 66, 66);
  font-weight: 500;
  transition: opacity 0.3s ease-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.admin-nav .admin-nav__list .admin-nav__item .admin-nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 1rem;
  overflow: none;
  width: 100%;
  transition: background-color 0.3s ease-in;
}
.admin-nav .admin-nav__list .admin-nav__item .admin-nav__link:hover {
  background-color: rgb(170, 170, 170);
}
.admin-nav .admin-nav__list .admin-nav__item .admin-nav__link .admin-nav__img {
  width: 2rem;
  aspect-ratio: 1/1;
}
.admin-nav .admin-nav__list .admin-nav__item .admin-nav__link .admin-nav__span {
  opacity: 0;
  color: black;
  font-weight: 400;
  transition: opacity 0.3s ease-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-nav hr {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.admin-nav.admin-nav--active {
  width: 25rem;
}
.admin-nav.admin-nav--active .admin-nav__logo-name,
.admin-nav.admin-nav--active .admin-nav__item .admin-nav__list-title,
.admin-nav.admin-nav--active .admin-nav__item .admin-nav__link .admin-nav__span,
.admin-nav.admin-nav--active hr {
  opacity: 1;
}

.admin-body {
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "admin-nav admin-header" "admin-nav admin-main";
}

.main {
  background-color: #fcfcfc;
  width: 100%;
  padding: 1rem;
}

.admin-main {
  grid-area: admin-main;
  background-color: transparent;
  padding: 2rem min(3vw, 3rem);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

.footer__column {
  flex: 1;
  padding: 0 20px;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer__text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__list li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__column {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__column {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
}
.button {
  text-align: center;
  flex: 1 1 6rem;
  padding: 1rem;
  border: 2px solid #FFF500;
  border-radius: 1rem;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: #1F1A17;
  color: #ffffff;
  border-color: #1F1A17;
}

.button--primary {
  background-color: #FFF500;
  color: #1F1A17;
}

.button--secondary {
  background-color: rgb(179, 179, 179);
  color: black;
}

.button--tertiary {
  background-color: transparent;
  color: #FFF500;
}

.button--modal {
  background-color: rgb(179, 179, 179);
  color: black;
  align-self: flex-start;
  width: min(100%, 15rem);
  flex-grow: 0;
  height: 2rem;
}

.admin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.admin__title {
  display: inline-block;
}

.admin__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: fit-content;
}

.admin__button {
  flex-grow: 1;
  border: none;
  border-radius: 0.5rem;
  height: min-content;
  padding: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.admin__button.admin__button--primary {
  background-color: #FFF500;
  color: #1F1A17;
}
.admin__button.admin__button--secondary {
  background-color: rgb(209, 209, 209);
  color: black;
}
.admin__button.admin__button--view {
  background-color: rgb(33, 55, 255);
  background-image: url("/static/img/icon_view_white.svg");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.2rem;
  width: 2.2rem;
}
.admin__button.admin__button--edit {
  background-color: rgb(0, 180, 251);
  background-image: url("/static/img/icon_edit_white.svg");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.2rem;
  width: 2.2rem;
}
.admin__button.admin__button--delete {
  background-color: red;
  background-image: url("/static/img/icon_delete_white.svg");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.2rem;
  width: 2.2rem;
}
.admin__button.admin__button--field {
  flex: 1 1 4rem;
  padding: 0.5rem;
}
.admin__button:hover {
  background-color: #1F1A17;
  color: #ffffff;
}
.admin__button.hidden {
  display: none;
}

.admin__content {
  width: 100%;
  container-name: container__table;
  container-type: inline-size;
}

.admin__dialog {
  flex-direction: column;
  background-color: white;
  width: min(100%, 35rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 10px 3px rgb(194, 194, 194);
}
.admin__dialog hr {
  margin: 1.5rem 0;
}

.admin__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.admin__field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.admin__label {
  font-weight: 600;
  width: min(100%, 6rem);
}

.admin__input {
  width: min(100%, 10rem);
  flex-grow: 1;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 0.5rem;
}

select.admin__input,
input[type=checkbox].admin__input,
input[type=radio].admin__input {
  cursor: pointer;
}

[type=checkbox].admin__input,
[type=radio].admin__input {
  height: 1.3rem;
}

.admin__dialog .admin__actions {
  width: 100%;
}

.admin-table {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px 3px rgb(194, 194, 194);
  border-radius: 1rem;
}

.admin-table th {
  padding: 1rem;
  font-weight: 600;
}

.admin-table td {
  padding: 0.8rem;
}

.admin-table tr {
  cursor: pointer;
  border-bottom: 3px solid rgb(194, 194, 194);
}
.admin-table tr:not(.admin-table thead tr):last-child {
  border: none;
}
.admin-table tr:not(.admin-table thead tr):hover {
  background-color: rgb(219, 219, 219);
}

.admin-table__state {
  background-color: rgb(197, 197, 197);
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(41, 41, 41);
  font-weight: 500;
  display: inline-block;
  text-wrap: nowrap;
  font-weight: bold;
}

.admin-table__state--active {
  background-color: rgb(121, 255, 121);
  color: green;
  border-color: green;
}

.admin-table__state--deactive {
  background-color: rgb(255, 168, 168);
  color: red;
  border-color: red;
}

.admin-table tfoot input {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

@container container__table (width < 470px) {
  .admin-table thead,
  .admin-table tfoot,
  .admin-table thead tr:nth-child(2) {
    display: none;
  }
  .admin-table td {
    display: block;
    text-align: right;
  }
  .admin-table td::before {
    content: attr(data-title) ": ";
    float: left;
    font-weight: 600;
  }
  .admin-table td .admin__button {
    padding: 0.5rem 0.7rem;
  }
}
.form__tables {
  container-name: container__table;
  container-type: inline-size;
}

.form__table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 5px black;
  border-radius: 0.5rem;
  overflow: hidden;
  table-layout: fixed;
}

.form__th {
  background-color: #FFF500;
  color: #1F1A17;
}

.form__tr:nth-child(even) {
  background-color: #eaeaea;
}

.form__th,
.form__td {
  padding: 0.45rem;
  text-align: center;
}

.form__td--action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form__button {
  padding: 0.5rem;
  border: 2px solid #FFF500;
  border-radius: 0.4rem;
  cursor: pointer;
  background-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.form__button--view {
  background-color: cornflowerblue;
  background-image: url("/static/img/icon_view.svg");
  color: white;
}

.form__button--edit {
  background-color: yellow;
  background-image: url("/static/img/icon_edit.svg");
}

.form__button--delete {
  background-color: red;
  background-image: url("/static/img/icon_delete.svg");
}

.form__table tfoot input {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
}

.dataTables_wrapper .dataTables_length {
  margin-right: 1rem;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .paginate_button {
  margin-top: 1rem;
}

@container container__table (width < 470px) {
  .form__thead,
  .form__table tfoot,
  .form__table thead tr:nth-child(2) {
    display: none;
  }
  .form__td {
    display: block;
    text-align: right;
  }
  .form__td::before {
    content: attr(data-title) ": ";
    float: left;
    font-weight: bold;
  }
  .dataTables_wrapper .top,
  .dataTables_wrapper .bottom {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    text-align: center;
    width: 100%;
  }
  .dt-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .dt-button {
    flex: 1 1 auto;
  }
}
.dialog {
  background-color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 20%);
  border: 2px solid gray;
  border-radius: 2rem;
  width: min(100%, 25rem);
  overflow: hidden;
}
.dialog .dialog__head {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog .dialog__head .dialog__img {
  height: 5rem;
  width: 5rem;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dialog .dialog__head .dialog__img.dialog__img--success {
  background-image: url("/static/img/icon_success.svg");
}
.dialog .dialog__head .dialog__img.dialog__img--error {
  background-image: url("/static/img/icon_error.svg");
}
.dialog .dialog__head .dialog__img.dialog__img--question {
  background-image: url("/static/img/icon_question.svg");
}
.dialog .dialog__head .dialog__img.dialog__img--information {
  background-image: url("/static/img/icon_information.svg");
}
.dialog .dialog__body {
  padding: 1rem;
}
.dialog .dialog__body .dialog__text {
  text-align: center;
  font-weight: 500;
}
.dialog .dialog__body .dialog__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}
.dialog .dialog__body .dialog__actions > button {
  flex: 1 1 8rem;
}

.auth {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Pantalla completa */
  width: 100%;
  overflow: hidden;
  /* Media Query para pantallas pequeñas */
}
.auth__modal {
  width: 100%;
  max-width: 900px;
  height: 500px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s ease-in-out;
}
.auth__panel {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__panel--info {
  background-color: #FFF500;
  color: #1F1A17;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__panel--form {
  background-color: #dbdbdb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  overflow: hidden;
}
.auth__form {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  max-width: 500px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7333333333);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}
.auth__form--login.active {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.auth__form--register.active {
  left: 0;
  opacity: 1;
}
.auth__form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.auth__label {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.auth__label input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 20px;
}
.auth__label i {
  color: black;
  margin-right: 0.5rem;
}
.auth__submit {
  background-color: #FFF500;
  color: #1F1A17;
  border: none;
  border-radius: 20px;
  padding: 0.75rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.auth__submit:hover {
  background-color: #1F1A17;
  color: #ffffff;
}
.auth__button {
  background-color: transparent;
  border: 2px solid #1F1A17;
  color: #1F1A17;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.auth__button:hover {
  background-color: #1F1A17;
  color: #FFF500;
}
.auth__switch {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.875rem;
}
.auth__switch a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 768px) {
  .auth .auth__container {
    flex-direction: column; /* Cambiar el layout a columna */
  }
  .auth .auth__panel--info {
    display: none; /* Ocultar la parte decorativa izquierda */
  }
  .auth .auth__panel--form {
    width: 100%; /* Asegurarse de que la parte de formulario ocupe todo el ancho */
    border-radius: 20px;
  }
}

.auth__form.active {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
}

.catalog {
  background-color: white;
  padding: 1rem 3rem;
}

.catalog__title {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2.5em;
}

.catalog__list-categories {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.9em;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(180, 180, 180);
  padding-bottom: 0.1rem;
}

.catalog__category {
  border-bottom: 4px solid transparent;
  padding: 1rem 0;
  cursor: pointer;
  color: rgb(122, 122, 122);
}
.catalog__category.catalog__category--active, .catalog__category:hover {
  color: black;
  font-weight: 600;
  border-color: black;
}

.catalog__list-products {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}

.catalog__product {
  background-color: rgb(161, 161, 161);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.catalog__product:hover {
  border: 1px solid black;
}
.catalog__product:hover .catalog__product-img {
  transform: scale(1.3);
}
.catalog__product.catalog_product--invisible {
  display: none;
}

.catalog__product-photo {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}

.catalog__product-img {
  height: 100%;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.catalog__product-information {
  flex: 1;
  background-color: white;
  width: 100%;
  padding: 0.5rem;
}
.catalog__product-information > * {
  display: block;
}

.catalog__product-price {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.catalog__product-name {
  color: black;
}

.catalog__product-material {
  color: rgb(92, 92, 92);
}

.home__slidebar {
  height: 75vh;
  width: calc(100% + 2rem);
  margin-top: -1rem;
  margin-left: -1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  left: 0;
}
.home__slidebar::-webkit-scrollbar {
  display: none;
}
.home__slidebar .slidebar__img {
  flex: 1 0 100%;
  object-fit: cover;
  animation: slideAnimation 15s infinite;
}

.section-home {
  margin-inline: 18%;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.section-home.section-home--intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.section-home .section-home__title {
  color: black;
  margin-bottom: 2rem;
}
.section-home .section-home__content {
  flex: 1 0 min(100%, 30rem);
}
.section-home .section-home__content .section-home__content-title {
  color: black;
  margin-bottom: 2rem;
}
.section-home .section-home__content .section-home__content-text {
  text-align: justify;
}
.section-home .section-home__img {
  object-fit: cover;
  object-position: center;
  width: min(100%, 26rem);
  flex: 1;
  aspect-ratio: 4/3;
}
.section-home .section-home__gallery {
  width: 100%;
}
.section-home .section-home__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
  /* & .section-home__item {} */
}
.section-home .section-home__image {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.section-home .section-home__image .section-home__image-title {
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.section-home .section-home__image .section-home__image-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section-home .section-home__image .section-home__image-img.section-home__image-img--company {
  height: 10rem;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.section-home .section-home__image .section-home__image-img.section-home__image-img--category {
  height: 22rem;
  aspect-ratio: 2/3;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.section-home .section-home__image .section-home__image-img.section-home__image-img--category + .section-home__image-title {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 0;
  z-index: 1;
}
.section-home .section-home__image .section-home__image-img.section-home__image-img--category:hover {
  transform: scale(1.3);
  filter: opacity(80%);
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  33.33% {
    transform: translateX(0%);
  }
  33.34% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-100%);
  }
  66.67% {
    transform: translateX(-200%);
  }
  99.99% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*# sourceMappingURL=styles.css.map */
