@use "../base";

.header {
  background-color: white;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;

  .header__nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0.3rem;
  }

  .header__link {
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .header__bar {
    background-color: base.$color-primario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.3rem 0.8rem;
    gap: 1rem;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .header__company-logo {
    height: 3.3rem;
  }

  .header__company-name {
    font-size: 1.3em;
    font-weight: 500;
    color: base.$color-primario-contraste;
  }

  .header__input-search {
    flex-grow: 0.5;
    flex-shrink: 1;
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 1rem;

    &:placeholder-shown {
      background-image: url('/static/img/icon_search_input.svg');
      background-position: 10px center;
      background-size: 1.8rem;
      background-repeat: no-repeat;
      padding-left: 2.8rem;
    }
  }

  .header__button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
  }

  .header__button {
    background-color: transparent;
    color: base.$color-primario-contraste;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: none;

    & .header__button-menu {
      background-color: base.$color-primario;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: none;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      top: 120%;
      left: 0;

      &.header__button-menu--visible {
        display: flex;
      }

      & .header__button-menu-link {
        display: flex;
        padding: 0.5rem 1.5rem;
        color: base.$color-primario-contraste;

        &:hover {
          background-color: rgb(182, 182, 182);
        }
      }
    }

  }

  .header__button-img {
    height: 2.3rem;
  }
}

.admin-header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.3rem 1rem;
  gap: 0.5rem;
  grid-area: admin-header;

  & .admin-header__button {
    background-color: transparent;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(170, 170, 170);
    }

    &.admin-header__button--collapse {
      border: none;
      border-radius: 0.5rem;
      height: 3rem;
      aspect-ratio: 1/1;

      & .admin-header__img-collapse {
        height: 100%;
        width: 100%;
        padding: 0.3rem;
      }
    }

    &.admin-header__button--user {
      position: relative;
      border: none;
      border-radius: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 0.5rem;
      gap: 1rem;

      & .admin-header__user-img {
        height: 3.5rem;
        aspect-ratio: 1/1;
        border: none;
        border-radius: 100%;
      }

      & .admin-header__user-info {
        & .admin-header__user-name {
          color: black;
        }

        & .admin-header__user-job {
          font-weight: 500;
          color: rgb(66, 66, 66);
        }
      }
    }
  }


  & .admin-header__user-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
    top: 115%;
    transform: translate(20%);

    &.admin-header__user-menu--active {
      display: flex;
    }

    & .admin-header__user-item {

      & .admin-header__user-link {
        display: block;
        padding: 1rem;
        color: black;
        font-weight: 500;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgb(170, 170, 170);
        }
      }
    }
  }
}