@use "../base";

.header {
  background-color: white;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;

  .header__nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0.3rem;
  }

  .header__link {
    border: none;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .header__bar {
    background-color: base.$color-primario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.3rem 0.8rem;
    gap: 1rem;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .header__company-logo {
    height: 3.3rem;
  }

  .header__company-name {
    font-size: 1.3em;
    font-weight: 500;
    color: base.$color-primario-contraste;
  }

  .header__input-search {
    flex-grow: 0.5;
    flex-shrink: 1;
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 1rem;

    &:placeholder-shown {
      background-image: url('/static/img/icon_search_input.svg');
      background-position: 10px center;
      background-size: 1.8rem;
      background-repeat: no-repeat;
      padding-left: 2.8rem;
    }
  }

  .header__button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
  }

  .header__button {
    background-color: transparent;
    color: base.$color-primario-contraste;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: none;

    & .header__button-menu {
      background-color: base.$color-primario;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: none;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      top: 120%;
      left: 0;

      &.header__button-menu--visible {
        display: flex;
      }

      & .header__button-menu-link {
        display: flex;
        padding: 0.5rem 1.5rem;
        color: base.$color-primario-contraste;

        &:hover {
          background-color: rgb(182, 182, 182);
        }
      }
    }

  }

  .header__button-img {
    height: 2.3rem;
  }
}




.admin-header {
  grid-area: header;
}

.admin-nav {
  grid-area: nav;
}

.admin-main {
  grid-area: main;
  background-color: transparent;
  padding: 2rem min(3vw, 3rem);
}

.admin-header {
  background-color: transparent;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.admin-header__search {
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 50%;
}

.admin-header__search:placeholder-shown {
  background-image: none;
  background-image: url('/static/img/icon_search_input.svg');
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.admin-header__user-info {
  display: flex;
  gap: 0.8rem;
}

.admin-header__user-photo {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  height: 3rem;
  border: none;
  border-radius: 100%;
}

.admin-header__user-name,
.admin-header__user-job {
  text-align: center;
  font-weight: 400;
}

.admin-header__user-name {
  color: black;
}

.admin-header__user-job {
  color: rgb(73, 73, 73);
}