@use '../base';

.main{
    background-color: base.$color-base;
    width: 100%;
    padding: 1rem;
}

.admin-main {
    grid-area: admin-main;
    background-color: transparent;
    padding: 2rem min(3vw, 3rem);
  }