@use '../base';

.admin-nav {
    background-color: white;
    transition: width 0.5s ease-out;
    padding: 0.1rem 0.8rem 1rem 0.8rem;
    height: 100%;
    width: 4.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: admin-nav;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    & .admin-nav__logo {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0.5rem 0;

        gap: 1rem;

        & .admin-nav__logo-img {
            height: 3.5rem;
            object-fit: cover;
            object-position: center;
        }

        & .admin-nav__logo-name {
            opacity: 0;
            color: black;
            font-weight: bold;
            font-size: 1.3em;
            transition: opacity 0.3s ease-in;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    & .admin-nav__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1rem;

        & .admin-nav__item {
            width: 100%;
            display: flex;
            align-items: center;

            & .admin-nav__list-title {
                opacity: 0;
                display: block;
                padding: 0.4rem 0;
                color: rgb(66, 66, 66);
                font-weight: 500;
                transition: opacity 0.3s ease-in;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }

            & .admin-nav__link {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                padding: 0.5rem 0.5rem;
                border: none;
                border-radius: 1rem;
                overflow: none;
                width: 100%;
                transition: background-color 0.3s ease-in;

                &:hover {
                    background-color: rgb(170, 170, 170);
                }

                & .admin-nav__img {
                    width: 2rem;
                    aspect-ratio: 1/1;
                }

                & .admin-nav__span {
                    opacity: 0;
                    color: black;
                    font-weight: 400;
                    transition: opacity 0.3s ease-in;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    & hr {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    &.admin-nav--active {
        width: 25rem;

        & .admin-nav__logo-name,
        .admin-nav__item .admin-nav__list-title,
        .admin-nav__item .admin-nav__link .admin-nav__span,
        hr {
            opacity: 1;
        }
    }
}