@use '../base/variables' as var;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border: 2px solid var.$color-primario;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &.button--primary {
        background-color: var.$color-primario;
        color: var.$color-primario-contraste;
    }

    &.button--secondary {
        background-color: rgb(190, 190, 190);
        border-color: rgb(190, 190, 190);
        color: black;
    }

    &.button--tertiary {
        background-color: transparent;
        color: var.$color-primario;
    }

    &:hover {
        background-color: var.$color-secundario;
        color: var.$color-secundario-contraste;
        border-color: var.$color-secundario;
    }
}