{% extends 'index.html' %}

{% block title %} Carrito {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
<nav class="breadcrumb">
    <ul class="breadcrumb__list">
        <li><a class="breadcrumb__link" href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a class="breadcrumb__link" href="{{ url_for('carrito') }}">Carrito</a></li>
    </ul>
</nav>
<div class="container">
    <section class="section section--cart">
        <div class="cart__head">
            <h2 class="cart__title">Carrito</h2>
            <button id="btnVaciarCarrito" class="button button--secondary button--clear-cart">Vaciar carrito</button>
        </div>
        <div class="cart__body"></div>
    </section>
    <section class="section section--summary">
        <div class="summary__field summary__field--subtotal">
            <p class="summary__name">Total a pagar</span></p>
            <span id="lblSubtotal" class="summary__price">0</span>
        </div>
        <button id="btnIrPago" class="button button--primary button--summary">Finalizar compra</button>
        <a href="{{ url_for('prueba_nuevo') }}" class="button button--secondary button--summary">Seguir diseñando</a>
    </section>
</div>

<script type="module" src="{{ url_for('static', filename='js/carrito.js') }}"></script>
{% endblock %}