{% extends 'index.html' %}

{% block title %} Catálogo {% endblock %}

{% block content %}
<section class="catalog">
    <h2 class="catalog__title">ROPA</h2>
    <ul class="catalog__list-categories">
        <li class="catalog__categorie">Categoría 01</li>
        <li class="catalog__categorie">Categoría 02</li>
        <li class="catalog__categorie">Categoría 03</li>
        <li class="catalog__categorie">Categoría 04</li>
        <li class="catalog__categorie">Categoría 05</li>
    </ul>
    <div class="catalog__list-products">
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
        <div class="catalog__product">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price">S/279</span>
                <span class="catalog__product-name">Polo</span>
                <span class="catalog__product-material">Tela negra</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}