{% extends 'index.html' %}

{% block title %} Catálogo {% endblock %}

{% block content %}
<section class="catalog">
    <h2 class="catalog__title">ROPA</h2>
    <ul class="catalog__list-categories">
        {% for categoria in categorias %}
        <li class="catalog__category">{{ categoria[1] }}</li>
        {% endfor %}
    </ul>
    <div class="catalog__list-products">
        {% for producto in productos %}
        <div class="catalog__product" data-categoria = "{{ producto[6] }}">
            <div class="catalog__product-photo">
                <img class="catalog__product-img" src="/static/img/polo-black.png" alt="Imagen producto">
            </div>
            <div class="catalog__product-information">
                <span class="catalog__product-price"> S/. {{ producto [3] }} </span>
                <span class="catalog__product-name"> {{ producto[1] }} </span>
                <span class="catalog__product-material"> {{ producto[5] }} </span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script type="module" src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
{% endblock %}