{% extends 'index_admin.html' %}
{% block title %}Gestionar Categoría{% endblock %}

{% block content %}
<div class="admin">
    <section class="admin__header">
        <h2 class="admin__title">Categoría</h2>
        <div class="admin__actions">
            <button id="btnAnadir" type="button" class="admin__button admin__button--primary">
                Añadir nueva categoría
            </button>
        </div>
    </section>

    <!-- Modal de formulario -->
    <dialog id="dlgCategoria" class="admin__dialog">
        <form class="admin-form" id="formCategoria">
            <div class="admin__fields">
                <div class="admin__field">
                    <label class="admin__label">Nombre:</label>
                    <input id="txtNombreCategoria" name="nombre" class="admin__input" type="text" required>
                </div>
                <div class="admin__field">
                    <label class="admin__label">Vigencia:</label>
                    <input id="chkVigenciaCategoria" name="vigencia" class="admin__input" value="vigente" type="checkbox">
                </div>
                <input id="txtID" type="hidden" name="id">
                <input type="hidden" name="accion" id="modalAction">
            </div>
            <hr>
            <div class="admin__actions">
                <button type="reset" id="btnLimpiar" class="admin__button admin__button--secondary hidden">Limpiar</button>
                <button type="button" id="btnCerrarModal" class="admin__button admin__button--secondary">Cerrar</button>
                <button id="btnRegistrar" type="submit" class="admin__button admin__button--primary hidden">Registrar</button>
                <button id="btnModificar" type="submit" class="admin__button admin__button--primary hidden">Modificar</button>
            </div>
        </form>
    </dialog>

    <!-- Tabla -->
    <section class="admin__content">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Vigencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr data-id="{{ categoria[0] }}">
                    <td data-title="Nombre">{{ categoria[1] }}</td>
                    <td data-title="Vigencia">
                        {% if categoria[2] == 1 %}
                            <span class="admin-table__state admin-table__state--active">V</span>
                        {% else %}
                            <span class="admin-table__state admin-table__state--deactive">N</span>
                        {% endif %}
                    </td>
                    <td data-title="Acciones">
                        <button data-id="{{ categoria[0] }}" class="admin__button admin__button--view" title="Ver"></button>
                        <button data-id="{{ categoria[0] }}" class="admin__button admin__button--edit" title="Editar"></button>
                        <button data-id="{{ categoria[0] }}" class="admin__button admin__button--delete" title="Eliminar"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Modal general -->
    <dialog id="modalGeneral" class="dialog">
        <div class="dialog__head">
            <span id="modalImg" class="dialog__img" alt="Imagen dialog"></span>
        </div>
        <div class="dialog__body">
            <p id="modalText" class="dialog__text">...</p>
            <div class="dialog__actions">
                <button id="btnModalCerrar" class="admin__button admin__button--secondary">Cerrar</button>
                <button id="btnModalAceptar" class="admin__button admin__button--primary">Aceptar</button>
            </div>
        </div>
    </dialog>
</div>

<script type="module" src="{{ url_for('static', filename='js/gestionar_categoria_producto.js') }}"></script>
{% endblock %}
