{% extends 'index_admin.html' %}

{% block title %}Gestionar producto{% endblock %}

{% block content %}
<!-- <div action="#" class="admin">
    
    <section class="admin__header">
        <h2 class="admin__title">Producto</h2>
        <div class="admin__actions">
            <button title="Añadir un nuevo producto" id="btnAñadir" type="button"
                class="admin__button admin__button--primary">Añadir nuevo
                producto</button>
        </div>
    </section>

    <dialog id="dlgProducto" class="admin__dialog">
        <form class="admin-form">
            <div class="admin__fields">
                <div class="admin__field">
                    <label class="admin__label" for="">Nombre:</label>
                    <input id="txtNombreProducto" class="admin__input" type="text">
                </div>
                <div class="admin__field">
                    <label class="admin__label" for="">Categoria:</label>
                    <select id="cboCategoriaProducto" class="admin__input" name="tipo" id="">
                        <option value="1">Categoria 01</option>
                        <option value="2">Categoria 02</option>
                        <option value="3">Categoria 03</option>
                    </select>
                </div>
                <div class="admin__field">
                    <label class="admin__label" for="">Vigencia:</label>
                    <input id="chkVigenciaProducto" class="admin__input" type="checkbox">
                </div>
            </div>
            <hr>
            <div class="admin__actions">
                <button type="reset" id="btnLimpiar" class="admin__button admin__button--secondary hidden">Limpiar</button>
                <button type="button" id="btnCerrarModal" class="admin__button admin__button--secondary">Cerrar</button>
                <button id="btnRegistrar" type="submit" class="admin__button admin__button--primary hidden">Registrar</button>
                <button id="btnModificar" type="submit" class="admin__button admin__button--primary hidden">Modificar</button>
            </div>
        </form>
    </dialog>
    <section class="admin__content">
        <table id="tblTabla" class="admin-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Notas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot class="admin-table__tfoot">
                <tr class="">
                    <th><input type="text" placeholder="Buscar nombre"></th>
                    <th><input type="text" placeholder="Buscar categoria"></th>
                    <th><input type="text" placeholder="Buscar descripción"></th>
                    <th><input type="number" placeholder="Buscar precio"></th>
                    <th><input type="text" placeholder="Buscar notas"></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody class="admin-table__tbody">
                {% for producto in productos %}
                <tr data-id-row="{{ producto[0] }}">
                    <td data-title="Nombre">{{ producto[1] }}</td>
                    <td data-title="Categoria">{{ producto[6] }}</td>
                    <td data-title="Descripción">{{ producto[2] }}</td>
                    <td data-title="Precio">{{ producto[3] }}</td>
                    <td data-title="Notas">{{ producto[5] }}</td>
                    <td data-title="Acciones">
                        <button data-id="{{ producto[0] }}" class="admin__button admin__button--view" title="Ver el producto"></button>
                        <button data-id="{{ producto[0] }}" class="admin__button admin__button--edit" title="Editar el producto"></button>
                        <button data-id="{{ producto[0] }}" class="admin__button admin__button--delete" title="Eliminar el producto"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <dialog id="modalGeneral" class="dialog">
        <div class="dialog__head">
            <span id="modalImg" class="dialog__img" alt="Imagen dialog"></span>
        </div>
        <div class="dialog__body">
            <p id="modalText" class="dialog__text">
                ...
            </p>
            <div class="dialog__actions">
                <button id="btnModalCerrar" class="admin__button admin__button--secondary">Cerrar</button>
                <button id="btnModalAceptar" class="admin__button admin__button--primary">Aceptar</button>
            </div>
        </div>
    </dialog>
</div>

<script type="module" src="{{ url_for('static', filename='js/gestionar_producto.js') }}"></script> -->
{% endblock %}