<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Index{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo/telary_icono.jpg') }}">
</head>

<body>
    <header class="header header--primary">
        <div class="header__bar">
            <div class="header__bar-item">
                <span class="header__bar-text">Llamanos: 971 813 121</span>
            </div>
            <div class="header__bar-item">
                <span class="header__bar-text">Escribenos: jbctextil@gmail.com</span>
            </div>
            <div class="header__bar-item">
                <span class="header__bar-text">Visitanos: III Etapa Mz lote 9 Urb. Pachacamac</span>
            </div>
            <div class="header__bar-item header__bar-item--social-networks">
                <a href="https://web.facebook.com/JBCTEXTIL/?_rdc=1&_rdr#" title="facebook">
                    <img class="header__social-icon"
                        src="{{ url_for('static', filename='img/iconos/icon_facebook_white.svg') }}" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/jbc.textil/" title="instagram">
                    <img class="header__social-icon"
                        src="{{ url_for('static', filename='img/iconos/icon_instagram_white.svg') }}" alt="Instagram">
                </a>
                <a href="https://wa.me/971813121" title="Whatsapp">
                    <img class="header__social-icon"
                        src="{{ url_for('static', filename='img/iconos/icon_whatsapp_white.svg') }}" alt="Whatsapp">
                </a>
            </div>
        </div>
        <nav class="header__nav">
            <a href="{{ url_for('inicio') }}" class="header__logo">
                <img class="header__company-logo" src="{{ url_for('static', filename='img/logo/telary_logo.png') }}"
                    alt="JBC Textil">
                <span class="header__company-name"></span>
            </a>
            <ul class="header__list">
                <button id="btnOcultarHeader" class="header__close-header-button">Cerrar</button>
                <li><a class="header__link" href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a class="header__link" href="{{ url_for('catalogo') }}">Catálogo</a></li>
                <li><a class="header__link" href="{{ url_for('prueba_nuevo') }}">Diseñador</a></li>
                <li><a class="header__link" href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
                <li><a class="header__link" href="{{ url_for('contactanos') }}">Contáctanos</a></li>
                <div id="barraBusqueda" class="header__search-bar">
                    <input id="txtBuscarRopa" class="header__search-input" type="search" name="query">
                    <button id="btnBuscarRopa" class="header__search-button">Buscar</button>
                    <button id="btnCerrarBarraBusqueda" class="header__search-button">Cerrar</button>
                </div>
            </ul>
            <div class="header__button-group">
                <button id="btnMostrarBarraBusqueda" class="header__button" aria-label="Activar el buscador">
                    <img src="{{ url_for('static', filename='img/iconos/icon_search_black.svg') }}" alt="Buscar">Buscar
                </button>
                <a class="header__button header__button--cart" aria-label="Ver el carrito"
                    href="{{ url_for('carrito') }}">
                    <img src="{{ url_for('static', filename='img/iconos/icon_cart_black_solid.svg') }}" alt="Carrito">
                    Carrito
                    <span class="header__cart-badge">0</span>
                </a>
                <button id="btnMostrarHeader" class="header__button header__button--toggle"
                    aria-label="Ver el panel de navegación">
                    <img src="{{ url_for('static', filename='img/iconos/icon_toggle_black.svg') }}" alt="Toggle">
                </button>
            </div>
        </nav>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__column">
            <h3 class="footer__title">Sobre nosotros</h3>
            <p class="footer__text">Somos una empresa dedicada a ofrecer productos de calidad.</p>
            <a href="#" class="footer__link">Leer más</a>
        </div>

        <div class="footer__column">
            <h3 class="footer__title">Enlaces rápidos</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">Inicio</a></li>
                <li><a href="#" class="footer__link">Catálogo</a></li>
                <li><a href="#" class="footer__link">Blog</a></li>
                <li><a href="#" class="footer__link">Contáctanos</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__title">Contáctanos</h3>
            <p class="footer__text">Dirección: III Etapa Mz lote 9 Urb. Pachacamac</p>
            <p class="footer__text">Email: jbctextil@gmail.com</p>
            <p class="footer__text">Tel: 971 813 121</p>
        </div>
    </footer>

</body>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>

</html>