<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header class="header">
        <a class="header__logo" href="" aria-label="Ir al inicio">
            <img class="header__logo-img" src="/static/img/logo_barcelona.png" alt="Logo empresa" aria-hidden="true">
        </a>

        <button id="btn_header_nav_main" class="header__button header__button--active"
            aria-label="Abrir menú principal">
            <img class="header__button-img" src="" alt="Icono menu" aria-hidden="true">
        </button>

        <nav id="header_nav_main" class="header__nav header__nav--main">
            <a href="" class="header__link">Inicio</a>
            <a href="" class="header__link">Catálogo</a>
            <a href="" class="header__link">Creador</a>
            <a href="" class="header__link">Sobre nosotros</a>
            <a href="" class="header__link">Contáctanos</a>
        </nav>

        <button id="btn_header_nav_user" class="header__button" aria-label="Abrir menú de usuario">
            <img class="header__button-img" src="" alt="Icono usuario" aria-hidden="true">
        </button>

        <nav id="header_nav_user" class="header__nav header__nav--user">
            <a href="" class="header__link">Mi perfil</a>
            <a href="" class="header__link">Cerrar sesión</a>
        </nav>

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__column">
            <h3 class="footer__title">Sobre nosotros</h3>
            <p class="footer__text">Somos una empresa dedicada a ofrecer productos de calidad.</p>
            <a href="#" class="footer__link">Leer más</a>
        </div>

        <div class="footer__column">
            <h3 class="footer__title">Enlaces rápidos</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">Inicio</a></li>
                <li><a href="#" class="footer__link">Catálogo</a></li>
                <li><a href="#" class="footer__link">Blog</a></li>
                <li><a href="#" class="footer__link">Contáctanos</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__title">Contáctanos</h3>
            <p class="footer__text">Dirección: Calle Ficticia, 123</p>
            <p class="footer__text">Email: contacto@empresa.com</p>
            <p class="footer__text">Tel: 123-456-7890</p>
        </div>
    </footer>
</body>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>