{% extends 'index.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

<section class="home__slidebar">
    <img class="slidebar__img" src="{{ url_for('static', filename='img/img_slidebar_1.jpg') }}" alt="Imagen slidebar 1">
    <img class="slidebar__img" src="{{ url_for('static', filename='img/img_slidebar_2.jpg') }}" alt="Imagen slidebar 2">
    <img class="slidebar__img" src="{{ url_for('static', filename='img/img_slidebar_3.jpg') }}" alt="Imagen slidebar 3">
</section>
<section class="section-home section-home--intro">
    <div class="section-home__content">
        <h2 class="section-home__content-title">Tejemos tu visión con calidad y personalización</h2>
        <p class="section-home__content-text">
            En JBC Textil, nos especializamos en ofrecer soluciones textiles personalizadas con un enfoque
            en calidad y detalle. Desde diseños exclusivos para individuos hasta grandes volúmenes para empresas,
            trabajamos con pasión para transformar tus ideas en productos únicos. Con materiales de primera y un proceso
            de producción meticuloso, garantizamos que cada prenda o artículo sea un reflejo perfecto de tus
            necesidades. Confía en nosotros para vestir tu proyecto con lo mejor en textilería.
        </p>
    </div>
    <img class="section-home__img" src="{{ url_for('static', filename='img/img_presentation.jpg') }}" alt="Imagen presentación">
</section>
<section class="section-home">
    <h2 class="section-home__title">Empresas que confían en nuestra calidad y personalización</h2>
    <div class="section-home__gallery">
        <ul class="section-home__list">
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--company"
                        src="{{ url_for('static', filename='img/logo_empresa_jotun.png') }}" alt="Logo empresa Jotun">
                    <figcaption class="section-home__image-title">Jotun</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--company"
                        src="{{ url_for('static', filename='img/logo_empresa_ana.png') }}" alt="Logo empresa ANA">
                    <figcaption class="section-home__image-title">Autoridad Nacional del Agua</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--company"
                        src="{{ url_for('static', filename='img/logo_empresa_club_cultura_turismo_tucume.jpg') }}" alt="Logo empresa club cultura turismo tucume">
                    <figcaption class="section-home__image-title">Club de Turismo y Cultura de Túcume</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--company"
                        src="{{ url_for('static', filename='img/logo_empresa_proyecto_especial_madre_de_dios.png') }}" alt="Logo empresa Proyecto Especial Madre de Dios">
                    <figcaption class="section-home__image-title">Proyecto Especial Madre de Dios</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--company"
                        src="{{ url_for('static', filename='img/logo_empresa_mundo_pintura.png') }}" alt="Logo Empresa Mundo Pintura">
                    <figcaption class="section-home__image-title">Mundo Pintura</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>
<section class="section-home">
    <h2 class="section-home__title">Nuestras categorias</h2>
    <div class="section-home__gallery">
        <ul class="section-home__list">
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--category"
                        src="{{ url_for('static', filename='img/img_categoria_1.jpg') }}" alt="Categoria 01">
                    <figcaption class="section-home__image-title">Categoria 01</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--category"
                        src="{{ url_for('static', filename='img/img_categoria_2.jpg') }}" alt="Categoria 02">
                    <figcaption class="section-home__image-title">Categoria 02</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--category"
                        src="{{ url_for('static', filename='img/img_categoria_3.jpg') }}" alt="Categoria 03">
                    <figcaption class="section-home__image-title">Categoria 03</figcaption>
                </figure>
            </li>
            <li class="section-home__item">
                <figure class="section-home__image">
                    <img class="section-home__image-img section-home__image-img--category"
                        src="{{ url_for('static', filename='img/img_categoria_4.jpg') }}" alt="Categoria 04">
                    <figcaption class="section-home__image-title">Categoria 04</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>

{% endblock %}