<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Formulario de Registro e Inicio de Sesión</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
      <div class="toast align-items-center text-bg-{{ category }} border-0 shadow" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
  
  </div>
</div>

  

  <div class="auth">
    <div class="auth__modal">
      <!-- Contenedor principal -->
      <div class="auth__container" id="authContainer">
        
        <!-- Panel de información (izquierda) -->
        <div class="auth__panel auth__panel--info">
          <div class="auth__content">
            <h2 class="auth__title">Bienvenido</h2>
            <p class="auth__text">Para unirte a nuestra comunidad por favor registra tus datos</p>
            <button class="auth__button" id="btnRegister">Registrarse</button>
          </div>
        </div>
  
        <!-- Panel de formularios (derecha) -->
        <div class="auth__panel auth__panel--form">
          <!-- Formulario de login -->
          <form class="auth__form auth__form--login active" id="formLogin" method="POST" action="{{ url_for('router_login.procesar_login') }}">
            <h2 class="auth__form-title">Iniciar sesión</h2>
            <label class="auth__label">
              <i class="bx bx-envelope"></i>
              <input type="text" name="username" placeholder="usuario" required>
            </label>
            <label class="auth__label">
              <i class="bx bx-lock-alt"></i>
              <input type="password" name="password" id="password" placeholder="Contraseña" required>
              <i class="fa fa-eye" id="togglePasswordLogin" style="cursor: pointer;"></i>
            </label>
            <input type="submit" class="auth__submit" value="Ingresar">
            <p class="auth__switch">¿No tienes cuenta? <a href="#" id="linkToRegister">Regístrate</a></p>
          </form>
          
  
          <!-- Formulario de registro -->
          <form class="auth__form auth__form--register" id="formRegister" method="POST" action="{{ url_for('router_login.registrar_usuario_cliente') }}">
            <h2 class="auth__form-title">Crear cuenta</h2>

            <!-- <label class="auth__label">
              <i class="bx bx-user"></i>
              <input type="text" name="nombre" placeholder="Nombre completo" required>
            </label>
            <label class="auth__label">
              <i class="bx bx-envelope"></i>
              <input type="email" name="correo" placeholder="Correo electrónico" required>
            </label>
            <label class="auth__label">
              <i class="bx bx-phone"></i>
              <input type="text" name="telefono" placeholder="Teléfono" required>
            </label>
            <label class="auth__label">
              <i class="bx bx-lock-alt"></i>
              <input type="password" name="contraseña" id="passwordRegister" placeholder="Contraseña" required>
              <i class="fa fa-eye" id="togglePasswordRegister" style="cursor: pointer;"></i>
            </label> -->
            <label class="auth__label">
              <i class="bx bx-user"></i>
              <input type="text" name="username" placeholder="Nombre de usuario" required>
            </label>
            <label class="auth__label">
              <i class="bx bx-lock-alt"></i>
              <input type="password" name="password" placeholder="Contraseña" required>
              <i class="fa fa-eye" id="togglePasswordRegister" style="cursor: pointer;"></i>
            </label>

            <input type="submit" class="auth__submit" value="Registrarse">
            <p class="auth__switch">¿Ya tienes cuenta? <a href="#" id="linkToLogin">Inicia sesión</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
