<dialog id="modalGeneral" class="dialog">
    <div class="dialog__head">
        <span id="modalImg" class="dialog__img" alt="Imagen dialog"></span>
    </div>
    <div class="dialog__body">
        <p id="modalText" class="dialog__text">
            ...
        </p>
        <div class="dialog__actions">
            <button id="btnModalCerrar" class="admin__button admin__button--secondary">Cerrar</button>
            <button id="btnModalAceptar" class="admin__button admin__button--primary">Aceptar</button>
        </div>
    </div>
</dialog>