{% extends 'index.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre_nosotros.css') }}"> -->
<style>
    .pago {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
    }

    .pago__title {
        display: block;
        font-size: 2em;
        font-weight: 600;
        margin: 0 auto;
    }

    .pago__field-group {
        display: block;
        height: auto;
        width: min(100%, 35rem);
        margin: 0 auto;
        box-shadow: 0 0 6px gray;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        &.pago__field-group--hidden {
            display: none;
        }
    }

    .pago__field {
        position: relative;
        margin-bottom: 1.5rem;
        width: 100%;

        &.pago__field--inline {
            display: inline-flex;
            margin-right: 1rem;
            width: auto;
        }
    }

    .pago__label {
        background-color: white;
        color: black;
        position: absolute;
        top: 50%;
        left: 0.1rem;
        padding: 0 0.5rem;
        transform: translateY(-50%);
        width: min(100%, auto);
        transition: top .3s ease, scale .3s ease, color .3s ease;
    }

    .pago__img-label {
        height: 5rem;
        aspect-ratio: 1/1;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
        border: 2px solid transparent;

        &.pago__img-label--selected {
            border: 2px solid red;
        }
    }

    .pago__input,
    .pago__select {
        background-color: white;
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 0.7rem 1rem;
        width: 100%;
    }

    .pago__input:focus+.pago__label,
    .pago__input:not(:placeholder-shown)+.pago__label,
    .pago__select.pago__select--selected+.pago__label {
        top: 0;
        transform: translateY(-60%);
        scale: 0.8;
        color: rgb(70, 70, 70);
    }

    .pago__input {
        &[type='radio'] {
            display: none;
        }
    }

    .pago__select:disabled {
        color: black;
    }

    .pago__button-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: min(100%, 35rem);
        margin: 0 auto;
    }

    .pago__button {
        background-color: yellow;
        color: black;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 1rem;
        flex: 1 1;
        padding: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: black;
            color: white;
        }
    }
</style>
<section class="pago">
    <h1 class="pago__title">Elige una forma de pago</h1>
    <form class="pago__form" action="#" method="POST">
        <ul class="pago__field-group">
            <li class="pago__field">
                <select class="pago__select" name="tipo_persona" id="slcTipoPersona">
                    <option class="pago__option" value="0" disabled selected></option>
                    <option class="pago__option" value="1">Persona natural</option>
                    <option class="pago__option" value="2">Persona jurídica</option>
                </select>
                <label class="pago__label" for="slcTipoPersona">Tipo de persona</label>
            </li>
            <li class="pago__field">
                <select class="pago__select pago__select--label" name="tipo_documento" id="slcTipoDocumento">
                    <option class="pago__option" value="0" disabled selected></option>
                    <option class="pago__option" value="1">DNI</option>
                    <option class="pago__option" value="2">RUC</option>
                </select>
                <label class="pago__label" for="slcTipoDocumento">Tipo de documento</label>
            </li>
            <li class="pago__field">
                <input class="pago__input" id="inpTipoDocumento" min="11111111" name="numero_documento" type="number"
                    placeholder=" " required>
                <label class="pago__label" for="inpTipoDocumento">Número de documento</label>
            </li>
            <li class="pago__field">
                <input class="pago__input" type="text" name="nombre_cliente" id="inpNombreCliente" placeholder=" "
                    required>
                <label class="pago__label" for="inpNombreCliente" id="lblNombreCliente">Nombres completos</label>
            </li>
            <li class="pago__field">
                <input class="pago__input" type="email" name="correo" id="inpCorreo" placeholder=" " required>
                <label class="pago__label" for="inpCorreo">Correo electrónico</label>
            </li>
            <li class="pago__field">
                <select class="pago__select" name="medio_pago" id="slcMedioPago">
                    <option value="0" selected disabled></option>
                    <option class="pago__option" value="1">Tarjeta de crédito</option>
                    <option class="pago__option" value="2">Billetera electrónica</option>
                </select>
                <label class="pago__label" for="slcMedioPago">Medio de pago</label>
            </li>
        </ul>
        <ul data-type-inputs="tarjeta" class="pago__field-group">
            <li class="pago__field">
                <input class="pago__input" type="number" name="numero_tarjeta" placeholder=" " id="inpNumeroTarjeta">
                <label class="pago__label" for="inpNumeroTarjeta">Número de tarjeta</label>
            </li>
            <li class="pago__field pago__field--inline">
                <select class="pago__select" name="mes_tarjeta" id="slcMesTarjeta">
                    <option class="pago__option" value="0" selected disabled></option>
                    <option class="pago__option" value="1">Enero</option>
                    <option class="pago__option" value="2">Febrero</option>
                    <option class="pago__option" value="3">Marzo</option>
                    <option class="pago__option" value="4">Abril</option>
                    <option class="pago__option" value="5">Mayo</option>
                    <option class="pago__option" value="6">Junio</option>
                    <option class="pago__option" value="7">Julio</option>
                    <option class="pago__option" value="8">Agosto</option>
                    <option class="pago__option" value="9">Septiembre</option>
                    <option class="pago__option" value="10">Octubre</option>
                    <option class="pago__option" value="11">Noviembre</option>
                    <option class="pago__option" value="12">Diciembre</option>
                </select>
                <label class="pago__label" for="slcMesTarjeta">Mes</label>
            </li>
            <li class="pago__field pago__field--inline">
                <input class="pago__input" type="number" name="anio_tarjeta" placeholder=" " id="inpAnioTarjeta">
                <label class="pago__label" for="inpAnioTarjeta">Año</label>
            </li>
            <li class="pago__field pago__field--inline">
                <input class="pago__input" type="number" name="cvv_tarjeta" placeholder=" " id="inpCVV">
                <label class="pago__label" for="inpCVV">CVV</label>
            </li>
        </ul>
        <ul data-type-inputs="billeteraElectronica" class="pago__field-group pago__field-group--hidden">
            <li class="pago__field">
                <input class="pago__input" type="number" name="numero_celular" placeholder=" " id="inpNumeroCelular">
                <label class="pago__label" for="inpNumeroCelular">Número de celular</label>
            </li>
            <li class="pago__field pago__field--inline">
                <label class="pago__label" for="yape"><img class="pago__img-label"
                        src="{{ url_for('static', filename='img/extra/logo_yape.webp') }}" alt="Logo YAPE"></label>
                <input class="pago__input" type="radio" name="billetera_electronica" value="1" placeholder=" "
                    id="yape">
            </li>
            <li class="pago__field pago__field--inline">
                <label class="pago__label" for="plin"><img class="pago__img-label"
                        src="{{ url_for('static', filename='img/extra/logo_plin.webp') }}" alt="Logo PLIN"></label>
                <input class="pago__input" type="radio" name="billetera_electronica" value="2" placeholder=" "
                    id="plin">
            </li>
        </ul>
        <div class="pago__button-group">
            <a href="#" id="btnCancelarCompra" class="pago__button">Cancelar</a>
            <button type="submit" id="btnPagar" class="pago__button">Pagar</button>
        </div>
    </form>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const lblNombreCliente = document.querySelector('#lblNombreCliente');
        const slcTipoPersona = document.querySelector('#slcTipoPersona');
        const slcTipoDocumento = document.querySelector('#slcTipoDocumento');
        const slcMedioPago = document.querySelector('#slcMedioPago');
        const sectionTarjeta = document.querySelector('.pago__field-group[data-type-inputs = "tarjeta"]')
        const sectionBilleteraEletronica = document.querySelector('.pago__field-group[data-type-inputs = "billeteraElectronica"]')
        const selects = document.querySelectorAll('.pago__select');
        const selectStateSelected = 'pago__select--selected';

        slcTipoPersona.addEventListener('change', () => {
            if (slcTipoPersona.value === '2') {
                lblNombreCliente.textContent = 'Razón social';
                slcTipoDocumento.value = '2';
                slcTipoDocumento.classList.add(selectStateSelected);
                return slcTipoDocumento.disabled = true;
            }

            lblNombreCliente.textContent = 'Nombres completos';
            slcTipoDocumento.classList.remove(selectStateSelected);
            return slcTipoDocumento.disabled = false;
        });

        slcMedioPago.addEventListener('change', () => {
            if (slcMedioPago.value === '1') {
                sectionTarjeta.classList.remove('pago__field-group--hidden');
                sectionBilleteraEletronica.classList.add('pago__field-group--hidden');

            } else {
                sectionTarjeta.classList.add('pago__field-group--hidden');
                sectionBilleteraEletronica.classList.remove('pago__field-group--hidden');
            }
        });

        selects.forEach(select => {
            select.addEventListener('change', () => {
                if (select.value !== '0') {
                    select.classList.add(selectStateSelected);
                } else {
                    select.classList.remove(selectStateSelected);
                }
            })
        });

        selects.forEach(select => {
            select.addEventListener('focus', () => {
                if (select.nextElementSibling.classList.contains('pago__label')) {
                    select.classList.add(selectStateSelected);
                    select.value = '1';
                }
            })
        });

        selects.forEach(select => {
            select.addEventListener('blur', () => {
                if (select.nextElementSibling.classList.contains('pago__label') && select.value === '0') {
                    select.classList.remove(selectStateSelected);
                }
            })
        });
    });
</script>
{% endblock %}