{% extends 'index.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pago.css') }}">
<section class="pago">
    <h1 class="pago__title">Elige una forma de pago</h1>
    <form class="pago__form" action="#" method="POST">
        <ul data-type-inputs="datos_cliente" class="pago__field-group">
            <li class="pago__field">
                <select class="pago__select" name="tipo_persona" id="slcTipoPersona">
                    <option class="pago__option" value="0" disabled selected></option>
                    <option class="pago__option" value="1">Persona natural</option>
                    <option class="pago__option" value="2">Persona jurídica</option>
                </select>
                <label class="pago__label" for="slcTipoPersona">Tipo de persona</label>
                    </div>
            <li class="pago__field">
                <select class="pago__select pago__select--label" name="tipo_documento" id="slcTipoDocumento">
                    <option class="pago__option" value="0" disabled selected></option>
                    <option class="pago__option" value="1">DNI</option>
                    <option class="pago__option" value="2">RUC</option>
                </select>
                <label class="pago__label" for="slcTipoDocumento">Tipo de documento</label>
                    </div>
            <li class="pago__field">
                <input class="pago__input" id="inpTipoDocumento" min="11111111" name="numero_documento" type="number"
                    placeholder=" " required>
                <label class="pago__label" for="inpTipoDocumento">Número de documento</label>
                    </div>
            <li class="pago__field">
                <input class="pago__input" type="text" name="nombre_cliente" id="inpNombreCliente" placeholder=" "
                    required>
                <label class="pago__label" for="inpNombreCliente" id="lblNombreCliente">Nombres completos</label>
                    </div>
            <li class="pago__field">
                <input class="pago__input" type="email" name="correo" id="inpCorreo" placeholder=" " required>
                <label class="pago__label" for="inpCorreo">Correo electrónico</label>
                    </div>
        </ul>
        <ul data-type-inputs="medio_pago" class="pago__field-group">
            <label class="pago__message-label">Monto total a pagar es <span class="pago__message-span"
                    id="lblMontoTotal">20.00</span></label>
            <li class="pago__field">
                <select class="pago__select" name="medio_pago" id="slcMedioPago">
                    <option value="0" selected disabled></option>
                    <option class="pago__option" value="1">Tarjeta de crédito</option>
                    <option class="pago__option" value="2">Billetera electrónica</option>
                </select>
                <label class="pago__label" for="slcMedioPago">Medio de pago</label>
                    </div>
        </ul>
        <ul data-type-inputs="tarjeta" class="pago__field-group">
            <li class="pago__field">
                <input class="pago__input" type="number" name="numero_tarjeta" placeholder=" " id="inpNumeroTarjeta">
                <label class="pago__label" for="inpNumeroTarjeta">Número de tarjeta</label>
                    </div>
            <li class="pago__field pago__field--inline-3">
                <select class="pago__select" name="mes_tarjeta" id="slcMesTarjeta">
                    <option class="pago__option" value="0" selected disabled></option>
                    <option class="pago__option" value="1">Enero</option>
                    <option class="pago__option" value="2">Febrero</option>
                    <option class="pago__option" value="3">Marzo</option>
                    <option class="pago__option" value="4">Abril</option>
                    <option class="pago__option" value="5">Mayo</option>
                    <option class="pago__option" value="6">Junio</option>
                    <option class="pago__option" value="7">Julio</option>
                    <option class="pago__option" value="8">Agosto</option>
                    <option class="pago__option" value="9">Septiembre</option>
                    <option class="pago__option" value="10">Octubre</option>
                    <option class="pago__option" value="11">Noviembre</option>
                    <option class="pago__option" value="12">Diciembre</option>
                </select>
                <label class="pago__label" for="slcMesTarjeta">Mes</label>
                    </div>
            <li class="pago__field pago__field--inline-3">
                <input class="pago__input" type="number" min="1900" name="anio_tarjeta" placeholder=" "
                    id="inpAnioTarjeta">
                <label class="pago__label" for="inpAnioTarjeta">Año</label>
                    </div>
            <li class="pago__field pago__field--inline-3">
                <input class="pago__input" type="number" name="cvv_tarjeta" placeholder=" " id="inpCVV">
                <label class="pago__label" for="inpCVV">CVV</label>
                    </div>
        </ul>
        <ul data-type-inputs="billeteraElectronica" class="pago__field-group pago__field-group--hidden">
            <li class="pago__field pago__field--inline-2">
                <label class="pago__label" for="yape"><img class="pago__img-label"
                        src="{{ url_for('static', filename='img/extra/logo_yape.webp') }}" alt="Logo YAPE"></label>
                <input class="pago__input" type="radio" name="billetera_electronica" value="1" placeholder=" "
                    id="yape">
                    </div>
            <li class="pago__field pago__field--inline-2">
                <label class="pago__label" for="plin"><img class="pago__img-label"
                        src="{{ url_for('static', filename='img/extra/logo_plin.webp') }}" alt="Logo PLIN"></label>
                <input class="pago__input" type="radio" name="billetera_electronica" value="2" placeholder=" "
                    id="plin">
                    </div>
        </ul>
        <div class="pago__button-group">
            <a href="#" id="btnCancelarCompra" class="button button--pago button--secondary">Cancelar</a>
            <button type="submit" id="btnPagar" class="button button--pago button--primary">Pagar</button>
        </div>
        <dialog id="dlgPagoModal" class="pago__modal">
            <div class="pago__modal-content">
                <img class="pago__modal-qr" src="https://d1ih8jugeo2m5m.cloudfront.net/2022/06/QRCode-Generated-website-300x300.png" alt="QR">
                <li class="pago__field">
                    <input class="pago__input" type="number" name="codigo_verificacion" placeholder=" " id="inpCodigoVerificacion">
                    <label class="pago__label" for="inpCodigoVerificacion">Código de verificación</label>
                </li>
                <div class="pago__button-group">
                    <button type="button" id="btnModalCancelar" class="button button--pago button--secondary">Cancelar</button>
                    <button type="button" id="btnModalPagar" class="button button--pago button--primary">Pagar</button>
                </div>
            </div>
        </dialog>
    </form>
</section>
<script type="module" src="{{ url_for('static', filename='js/pago.js') }}"></script>
{% endblock %}