{% extends 'index.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre_nosotros.css') }}">
<nav class="breadcrumb">
    <ul class="breadcrumb__list">
        <li><a class="breadcrumb__link" href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a class="breadcrumb__link" href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
    </ul>
</nav>
<section class="nosotros">
    <div class="nosotros__container">
        <div class="nosotros__section">
            <h2 class="nosotros__title">Nuestra Historia</h2>
            <p class="nosotros__text">
                Somos una empresa textil con más de 20 años de experiencia, especializada en la creación de ropa de alta
                calidad y diseño innovador.
                Desde nuestros inicios, hemos trabajado incansablemente para ofrecer productos que combinen confort,
                estilo y sostenibilidad.
            </p>
        </div>

        <div class="nosotros__section">
            <div class="nosotros__vision">
                <h3 class="nosotros__subtitle">Visión</h3>
                <p class="nosotros__text">
                    Ser reconocidos como una de las marcas líderes en la industria textil, destacándonos por nuestra
                    calidad, compromiso ambiental y la innovación en cada prenda.
                </p>
            </div>
            <br>
            <div class="nosotros__mision">
                <h3 class="nosotros__subtitle">Misión</h3>
                <p class="nosotros__text">
                    Ofrecer productos textiles de la más alta calidad, con un enfoque en la sustentabilidad y el diseño,
                    proporcionando una experiencia única para nuestros clientes.
                </p>
            </div>
        </div>

        <div class="nosotros__section">
            <h3 class="nosotros__subtitle">Nuestros Valores</h3>
            <ul class="nosotros__list">
                <li class="nosotros__list-item">Innovación y creatividad.</li>
                <li class="nosotros__list-item">Compromiso con el medio ambiente.</li>
                <li class="nosotros__list-item">Calidad y confort en cada prenda.</li>
                <li class="nosotros__list-item">Responsabilidad social y ética empresarial.</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}