{% extends 'index.html' %}

{% block title %}Ver producto{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ver_producto.css') }}">
<div class="prod-view">
    <section class="prod-view__thumbs">
        {% for imagen in imagenes %}
        <img class="prod-view__img" src="/static/img/catalogo/{{ imagen[0] }}" alt="Producto foto">
        {% endfor %}
    </section>
    <section class="prod-view__nav-img">
        <span class="prod__view__span">Prenda</span>
        <button class="prod-view__btn-nav prod-view__btn-nav--left" aria-label="Imagen anterior">◄</button>
        {% for imagen in imagenes %}
        <img data-image-name="{{ imagen[0] }}" class="prod-view__img" src="/static/img/catalogo/{{ imagen[0] }}"
            alt="Producto foto">
        {% endfor %}
        <button class="prod-view__btn-nav prod-view__btn-nav--right" aria-label="Imagen siguiente">►</button>
    </section>
    <section class="prod-view__info">
        <span class="prod-view__category" aria-label="Categoria del producto">{{ producto[5] }}</span>
        <span class="prod-view__title" aria-label="Nombre del producto">{{ producto[1] }}</span>
        <div class="prod-view__list-sizes">
            {% for talla in tallas %}
            <span class="prod-view__size" aria-label="Talla del producto">{{talla[0]}}</span>
            {% endfor %}
        </div>
        <span class="prod-view__descrip" aria-label="Descripción del producto">Confeccionada en <b
                class="prod-view__fabric">{{ producto[6]}}</b>,
            esta prenda ofrece un ajuste cómodo y una gran durabilidad.</span>
        <br>
        {% if producto[2] is not none and producto[2] != '' and producto[2] != 'None' %}
        <span class="prod-view__descrip" aria-label="Descripción del producto">{{ producto[2] }}.</span>
        {% endif %}
        <div class="prod-view__button-group">
            <a href="{{ url_for('prueba_nuevo') }}" class="button button--primary button--view-product">Crear mi propio diseño</a>
            <a href="{{ url_for('catalogo') }}" class="button button--secondary button--view-product">Regresar al catálogo</a>
        </div>
    </section>
</div>
<script type="module" src="{{ url_for('static', filename='js/ver_producto.js') }}"></script>
{% endblock %}